@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Luckiest+Guy&family=Monsieur+La+Doulaise&family=Poppins&family=Style+Script&display=swap');
:root{
    --fonteprimaria: Poppins;
    --corprimaria:#0320FF;
    --corsecundaria:#0AA8FC;
}
*{    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
nav{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav ul{
    font: normal lighter 1.3em Poppins;
    display: flex;
    flex-flow: nowrap row;
    list-style: none;
    margin-right: 15px;
    align-items: center;
}
nav ul a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--corprimaria);
}
a:active{
    text-decoration: none;
}
.logo{
    font: normal bold 2em Poppins;
    margin-left: 15px;
}
.logo b{
    color: var(--corprimaria);
}
.celular{
    display: none;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    column-gap: 40px;
    align-items: center;
}
#apresentacao{
    text-align: center;
    width: 500px;
    margin-left: 15px;
    font: normal bold 2em Poppins;
}
p.descricao{
    font: normal lighter 1em Poppins;
}
.redesociais{
    display: flex;
    justify-content: center;
    padding: 20px;
} 
.redesociais li{
    margin-right: 10px;
    list-style: none;
    width: 50px;
}
.redesociais a{
    list-style: none;
    text-decoration: none;
    color: rgba(0,0,0, 0.5);
}
@media (max-width: 576px) {
    
}
@media(max-width: 480px){
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
nav, ul, a{ 
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    
}
.logo, .lista{
    margin: 0px;
}
.celular{
    display: block;
}
.computador{
    display: none;
}
.celular{
    display: flex;
    flex-flow: wrap row;
    column-gap: 20px;
    justify-content: center;
    align-content: space-between;
}
main #apresentacao{
    font: normal bold 1.5em Poppins;
    margin: 0px;
    text-align: center;
}
main p.descricao{
    font: normal lighter 0.5em Poppins;
    margin: 0px;
    text-align: center;
}
.logo{
    font: normal bold 2em Poppins;
}
ul, a{
    font: normal lighter 1em Poppins;
}

}

